.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0 0 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.home {
  .bg-img {
    @include bg-cover("/images/chickens.jpg");
  }

  .bg-overlay {
    @include bg-opacity($gray-700, 0.5);
  }
}
