{{ $emailAddress := .Site.Data.company.email }}
{{ $emailSubject := "Add me to the NFF email list!" }}
{{ $emailBody := "I'd like to get email updates from NFF please!" }}
{{ $emailHref := printf "mailto:%s?subject=%s&body=%s" $emailAddress $emailSubject $emailBody }}
{{ $email := partial "link.html" (dict
  "href" $emailHref
  "innerHTML" "email"
  "classes" "text-decorate-none")
}}
<div class="container">
  <div class="row py-5">
    <div class="col-md-6 col-xl-4 offset-xl-2 py-3">
      <h3 class="fs-2">Get in touch!</h3>
      <p>
        Send us an {{ $email }} to join our email list, to place an order, or
        to find out more about our farm and our eggs.
      </p>
      <p>
        Visit us at the <strong>Scituate Rotary Farmers Market</strong> (46
        Institute Lane in North Scituate) from 9:00 AM to 12:00 PM every
        Saturday.
      </p>
      <p>
        You can also find us at the <strong>Foster Farmers Market</strong> (164
        Danielson Pike in Foster) from 9:00 AM to 12:30 PM every Sunday.
      </p>
    </div>
    <div class="col-md-6 col-xl-4 py-3">
      {{ partial "contact-card.html" . }}
    </div>
  </div>
</div>
