<div class="border-bottom border-light bg-img hero">
  <div class="bg-overlay">
    <div class="row py-5">
      <div class="col d-flex flex-column align-items-center">
        <h2 class="fmw-575 text-center">We love eggs.</h2>
        <p class="fmw-575 text-center">
          Over the years we've purchased all kinds of eggs from the store:
          inexpensive eggs, eggs called "free-range", eggs called "cage-free",
          and more recently, eggs called "pasture-raised". Some of these labels
          sound better than others, but we eventually learned the truth about
          each of these categories. In fact, pasture-raised eggs stand head and
          shoulders above the rest.
        </p>
        <p class="fmw-575 text-center">
          At North Foster Farm, we proudly produce pasture-raised eggs. At night,
          our hens are kept inside a secure mobile coop. During the day, they
          spend their time on grass, enjoying fresh air, sunshine, and abundant
          access to clean water and fresh feed. They roam freely in a safe
          enclosure and enjoy grasses and insects—just like chickens are supposed
          to.
        </p>
        <p class="fmw-575 text-center">
          After about a week, when the "good stuff" begins to dwindle, we move
          them (coop and all) to a new spot in the pasture to start fresh. As a
          result, we have happy, healthy hens that lay healthy, delicious eggs.
        </p>
      </div>
    </div>
  </div>
</div>
