{{ $embedSrc := "https://www.youtube.com/embed/ztXH8ILNNks" }}
{{ $fosterFarmersMarket := partial "link.html" (dict
  "href" "https://www.fosterfarmersmarketri.com"
  "innerHTML" "Foster Farmers' Market"
  "newTab" true
  "title" "Foster Farmers' Market website")
}}
{{ $nonGMO := partial "link.html" (dict
  "href" "https://en.wikipedia.org/wiki/The_Non-GMO_Project"
  "innerHTML" "non-GMO"
  "newTab" true
  "title" "The Non-GMO Project article on Wikipedia")
}}
{{ $pastureRaised := partial "link.html" (dict
  "href" "https://www.getrealchicken.com/why-pasture-raised"
  "innerHTML" "pasture-raised"
  "newTab" true
  "title" "Information about the benefits of pasture-raised farming from APPPA")
}}
{{ $scituateFarmersMarket := partial "link.html" (dict
  "href" "https://www.scituaterotaryfarmersmarket.com"
  "innerHTML" "Scituate Rotary Farmers Market"
  "newTab" true
  "title" "Scituate Rotary Farmers Market website")
}}
{{ $instagram := partial "link.html" (dict
  "href" "https://www.instagram.com/northfosterfarm"
  "innerHTML" "@northfosterfarm on Instagram"
  "newTab" true
  "title" "North Foster Farm on Instagram")
}}
{{ $apppaVideo := partial "link.html" (dict
  "href" "https://www.youtube.com/watch?v=ztXH8ILNNks"
  "innerHTML" "youtube.com/watch?v=ztXH8ILNNks"
  "newTab" true
  "title" "Let Us Show You Real Pasture Raised Eggs - YouTube.com")
}}
{{ $email := .Site.Data.company.email }}
{{ $emailSubject := "Add me to the NFF email list!" }}
{{ $emailBody := "I'd like to get email updates from NFF please!" }}
{{ $emailHref := printf "mailto:%s?subject=%s&body=%s" $email $emailSubject $emailBody }}
{{ $emailAddress := partial "link.html" (dict
  "href" $emailHref
  "innerHTML" $email
  "classes" "text-decorate-none")
}}
<div class="border-bottom border-light hero text-dark">
  <div class="bg-warning bg-opacity-25">
    <div class="container">
      <div class="row py-5">
        <div class="col d-flex flex-column align-items-center py-3">
          <div class="fmw-575 w-100">
            <h2 class="text-center">Mid-Fall Update</h2>
            <p>
              Thank you for a great 2025 season!
            </p>
            <p>
              We are looking forward to an even busier 2026 and if all goes
              well, we should have some exciting announcements about additional
              offerings soon.
            </p>
            <p>
              Our markets are closed, but the eggs keep coming and they taste
              just as good when there’s snow on the ground. We hope you are
              able to take advantage of our Saturday morning egg drops
              throughout the winter months. We’ll be at the site of the
              Scituate Rotary Farmers Market, 46 Institute Lane, Saturday
              mornings from 10 to 11.
            </p>
            <p>
              The town of Scituate will be holding an event at the
              gazebo/parking area where we deliver eggs on Saturday mornings.
              <strong>Due to this event, we will not be delivering eggs this
              Saturday, October 25th. The Saturday egg drop will continue on
              November 1<sup>st</sup>.</strong>
            </p>
            <p>
              We’ll email with as much advanced notice if something comes up
              that will prevent us from being in Scituate on any given
              Saturday.
            </p>
            <p>
              We hope you are continuing to enjoy our eggs and will spread the
              word to family and friends who may also be interested in shopping
              with us Saturday mornings.
            </p>
            <p>
            </p>
              Please visit {{ $instagram }} for pictures of our farm to see the
              Who, and the How behind our delicious eggs!
            </p>
          </div>
          <div class="fmw-575 w-100">
            {{ partial "separator.html" "my-1" }}
          </div>
          <div class="fmw-575 w-100">
            <p>
              Changes to our schedule and periodic updates will be posted on
              our website. If you’d like to receive these occasional updates in
              an email, please join our email list. Sign up by sending a
              message to {{ $emailAddress }} with your email address.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="border-bottom border-light hero bg-img">
  <div class="bg-overlay">
    <div class="container">
      <div class="row py-5">
        <div class="col d-flex flex-column align-items-center py-3">
          <div class="fmw-575 w-100 text-center">
            <h2>We love eggs.</h2>
            <p>
              Over the years we’ve purchased all kinds of eggs from the store:
              inexpensive eggs, eggs called “free-range”, eggs called
              “cage-free”, and more recently, eggs called “pasture-raised”.
              Some of these labels sound better than others, but we eventually
              learned the truth about each of these categories. In fact,
              pasture-raised eggs stand head and shoulders above the rest.
            </p>
            <p>
              At North Foster Farm, we proudly produce pasture-raised eggs. At
              night, our hens are kept inside a secure mobile coop. During the
              day, they spend their time on grass, enjoying fresh air,
              sunshine, and abundant access to clean water and fresh feed. They
              roam freely in a safe enclosure and enjoy grasses and
              insects—just like chickens are supposed to.
            </p>
            <p>
              After about a week, when the “good stuff” begins to dwindle, we
              move them (coop and all) to a new spot in the pasture to start
              fresh. As a result, we have happy, healthy hens that lay healthy,
              delicious eggs.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
